@model HomeViewModel

@section Styles {
    <link href="~/Content/site/css/home.css" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.HeaderImage = "home.png";
    ViewBag.HeaderTitle = "Willkommen bei " + Model.AppName;
}

<h3>Was möchten Sie tun ?</h3>
<ul>
    <li>@Html.ActionLink("Eine Datei hochladen", "Index", "Upload")</li>
    <li>@Html.ActionLink("Eine Datei herunterladen", "Index", "Download")</li>
</ul>
