.fileSize {
    margin-left: 3px;
}

.deleteLink {
    background: url(../Images/Delete.png) no-repeat;
    background-size: 100% auto;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
}

#error {
    color: red;
}
