@model UploadViewModel

@section Styles {
    <link href="~/Content/site/css/upload.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/Scripts/site/upload.js" type="text/javascript"></script>
}

@{
    ViewBag.HeaderImage = "upload.png";
    ViewBag.HeaderTitle = "Datei hochladen";
}

<h3>Datei auswählen und hochladen:</h3>
@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div>
        <input id="file" type="file" name="file" />
        <button id="button" type="button"><span>Hochladen</span></button>
        <br />
        <br />
        <div id="fileName"></div>
        <br />
        <div id="fileSize"></div>
        <br />
        <div id="statusText"></div>
        <div id="progressBar">
            <div id="progressBarInnerBlock"></div>
        </div>
    </div>
}
